<!DOCTYPE html>
<html>

<body>
    <h2>Hello {{name}},</h2>

    <p>Your ride has been confirmed 🚗</p>

    <p><strong>Pickup:</strong> {{pickup}}</p>
    <p><strong>Destination:</strong> {{destination}}</p>
    <p><strong>Fare:</strong> ₹{{fare}}</p>
    <p><strong>OTP:</strong> {{otp}}</p>

    <br />
    <p>Thanks for riding with UberX!</p>
</body>

</html>